nav {
    padding-top: 0 !important; /* override bs */
    padding-bottom: 0 !important;
}
nav > * {
    background-color: #8BE25C !important;
    overflow: hidden;
}
.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}